.Home{
  background-image: url("../Images/Cracking-the-code.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
*{
  transition-duration: .4s;
}

.typewriter h1:hover{
  animation: rotate .5s ease alternate-reverse;
  -webkit-animation: rotate .5s ease alternate-reverse;
}

@keyframes rotate{
  form{
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  }
  to{
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
}

/* DEMO-SPECIFIC STYLES */
.typewriter h4 {
  width: fit-content;
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  /*Ensuresthecontentisnotrevealeduntiltheanimation*/border-right: .15em solid orange;
  white-space: nowrap;
  /*Keepsthecontentonasingleline*/margin: 0 auto;
  /*Givesthatscrollingeffectasthetypinghappens*/
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}
.typewriter{
  width: fit-content;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}