:root {
    --priName: #56cbdb;
    --navName: #262834;
}
.Home{
  background-image: url("../../Image/Home-Avtar.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
*{
  transition-duration: .4s;
}
.typewriter h1,
.typewriter h4
{
  text-shadow: 0 0 20px black;
}
.typewriter h1:hover{
  color: var(--navName) !important;
  text-shadow: 0 0 2px var(--priName),0 0 2px var(--priName),0 0 2px var(--priName),0 0 2px var(--priName);
  animation: rotate .5s ease ;
  -webkit-animation: rotate .5s ease ;
}

@keyframes rotate{
  0%{
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
  33%{
  transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -o-transform: rotate(4deg);
}
66%{
    transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
}
100%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
}

/* DEMO-SPECIFIC STYLES */
.typewriter h4 {
  width: fit-content;
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  /*Ensuresthecontentisnotrevealeduntiltheanimation*/border-right: .15em solid orange;
  white-space: nowrap;
  /*Keepsthecontentonasingleline*/margin: 0 auto;
  /*Givesthatscrollingeffectasthetypinghappens*/
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}
.typewriter{
  width: fit-content;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}