.hit:hover{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  border: 1px solid white;
}
.SocialMedia{
  width: fit-content;
}
.reotre:hover{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.hit {
  max-height: 49px;
}
.whatsapp{
  background-color: #4ac958;
}
.github{
  background-color: #111315;

}
.linkedin{
  background-color: #0c64c5;

}
.youtube{
  background-color: #fe0000;

}
/* Start Skills Images */
.contenarImage {
  max-width: 70px;
}
.contenarSkills>h5{
  cursor: default;
}
.contenarSkills{
  background: #262834;
}
.contenarSkills:hover {
  background: #3d457d;
}
@media (max-width: 769px) {
  .contenarSkills{
    width: 100%;
  }
}
/* End Skills Images */