body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: black !important;  */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*::selection{
  background-color: transparent;
}
.InptCon:focus {
  background-color: #eee;
}
.InptCon {
  background-color: rgb(175, 172, 172);
}
.InptCon > label {
  color: #000000 !important;
}

.contact>div{
  height: 100%;
}
.rat svg{
  color: yellow;
}